*{
    margin:0;
    padding:0;
}

body{
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 10px;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
   color: #A435F0;
}
.navbar__s2{
    display: flex;
    flex-direction: row;
    gap:10px;
    width:60%;
    border-radius: 30px;
    border:solid black 1px;
    padding: 10px;
    background-color: transparent;
}
.navbar__s2__input{
    width:100%;
    border:none;
}

.navbar__s2__input:focus{
    outline:none;
}

.navbar__s3{
    display: flex;
    gap:20px;
}
.navbar__s4{
    display:none;
}
.mylearning{
    position: relative;
    cursor:pointer;
}
.mylearning__popup{
    position: absolute;
    padding:10px;
    border:solid black 1px;
    top:150%;
    right:0px;
    width: 100px;
    background-color: white;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display:block;
}

.categories{
    border-bottom: solid black 1px;
    padding:10px;
    justify-content: space-around;
    display:flex;
}

.categories p {
    background-color:#A435F0;
    padding: 15px;
    color: white;
    border-radius:30px;
    border: solid #A435F0 1px;

}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color:black;
    border: solid #A435F0 1px; 
}
.sale-image{
    position: relative;
}
.sale-image__offer{
    position: absolute;
    top:10%;
    left:5%;
    width:35%;
    border:solid black 1px;
    background-color: white;
    padding:2%;
    opacity: 0;
    animation-name:zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.sale-image img{
    width: 100%;
}
.recommendation{
    padding:10px;
}
.recommendation__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:5px;
}

.recommendation__course-card{
    flex-basis:20%;
    flex-grow:1;
    border:1px solid #d1d2e0;
    border-radius: 8px;
    padding:5px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.recommendation__course-card img{
    width:100%;
    height:60%;
}

.topics{
    margin-top: 10px;
    padding:10px;
}

.topics__container p{
    flex-grow:1;
    flex-basis:25%;
    padding: 10px;
    margin:10px;
    border: solid gray 2px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
}

.popular{
    margin-top:10px;
    padding:10px;
}

.popular__container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.popular__container__course-card{
    flex-basis:20%;
    flex-grow:1;
    border:1px solid #d1d2e0;
    border-radius: 8px;
    padding:5px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.popular__container__course-card img{
    width:100%;
    height:60%;
}

.footer{
    margin-top:10px;
    padding:10px;
    background-color: black;
    color: white;
}

.footer__s1 p{
    padding:10px;
}

.footer__s1-one{
    display:inline-block;
}

.footer__s1-two{
    display: inline-block;
    margin:20px;
}

.footer__s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media Queries */

@media screen and (max-width:800px){
    body{
        font-size:10px;
    }
    .categories, .navbar__s2, .navbar__s3{
        display:none;
    }
    .navbar__s4{
        display:block;
    }
}

@media  screen and (max-width:600px) {
    .recommendation__course-card{
        flex-basis:40%
    }
    .popular__container__course-card{
        flex-basis:40%
    }
}